* {
    padding: 0;
    margin: 0;
}

.searchbox {
    display: flex;
    align-items: right;
    width: 12%;
}

.city-list {
    display: flex;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.location {
    font-size: 1rem;
    margin: 1rem;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    padding: 2rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: auto;
}

.forecast-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
}

.forecast {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.forecast2 {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.forecast3 {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.forecast4 {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.forecast5 {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.full-forecast {
    display: flex;
}

.styling {
    display: flex;
    flex-direction: column;
}

.styling-2 {
    display: flex;
    flex-direction: column;
}