* {
    padding: 0;
    margin: 0;
}

.searchbox {
    display: flex;
    align-items: flex-start;
    text-align: left;
    width:18%;
}

.location {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-top: 2%;
    border: solid 1px black;
    text-align: left;
    padding: 1rem;
    width: 70%;
    float: right;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: auto;
}

.forecast-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 2%; 
    text-align: left;
    padding: 1rem; 
    width: 43%;
    float: left;
}

.forecast {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.forecast2 {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.forecast3 {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.forecast4 {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.forecast5 {
    display: block;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%; 
    text-align: center;
    padding: 1rem; 
    width: 55%;
    float: left;
    font-size: smaller;
}

.full-forecast {
    display: block;
    justify-content: space-evenly;
}